{% extends "core/base.html"%}
{% block contentStyle%}
    label{display:none}
{% endblock %}
{% block content %}
{% load static %}

<main id="main">
    <div class="container">
        <div class="about-heading-content mbtm">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5 forced">
                        <h2 class="section-heading mb-4">
                            Password reset request
                        </h2>
                        <div class="section-content">
                            <p>We have sent a mail in order to reset the password. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
