{% extends "core/base.html"%}
{% block content %}
{% load static %}

<main id="main">
    
    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="" method="post" role="form" >
            <!-- =======class="php-email-form"======= -->
            {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  {{form.name}}
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  {{form.email}}
                </div>
              </div>
              <div class="form-group mt-3">
                {{form.subject}}
              </div>
              <div class="form-group mt-3">
                {{form.content}}
              </div>
              <div>
                <br>
                <select id="select1" class="form-select">
                  <option value="0" selected>Seleccione un pais: </option>
                  <option value="1">México</option>
                  <option value="2">Estados Unidos</option>
                </select>

                <br>
                <select name='select2' id="select2" class="form-select">
                </select>
                <br><br>
              </div>
              <div class="text-center">
              <input type="submit" class='btn btn-primary btn-block py-2' value='Enviar'>
              <!-- =======<button type="submit" >Send Message</button>======= -->
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2219901290355!2d-74.00369368400567!3d40.71312937933185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23e28c1191%3A0x49f75d3281df052a!2s150%20Park%20Row%2C%20New%20York%2C%20NY%2010007%2C%20USA!5e0!3m2!1sen!2sbg!4v1579767901424!5m2!1sen!2sbg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section><!-- End Map Section -->

  </main><!-- End #main -->

{% endblock %}

{% block contentJS %} 
    <script src='https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js'></script>
    <script>
      function csrfSafeMethod(method){
        return(/^(GET|HEAD|OPTION|TRACE)$/.test(method));
      }

      $(function(){
        $('#select1').on('change', function(){
          console.log('select1');
          var valor = this.value
          var str_json = '{ "valor": "' + valor + '" }'
          var obj_json = jQuery.parseJSON(str_json);
          ejecutaAJAX(obj_json)
        });
      });

      function ejecutaAJAX(obj_json){
        $.ajax({
          url: "{% url 'contact:ejecutaAJAX' %}",
          type: 'POST',
          dataType: 'json',
          data:obj_json,
          beforeSend: function(xhr, settings){
            console.log('beforeSend');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain ) {
              xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
            }
          }}).done(function(respuesta, textStatus, jqXHR){
            $('#select2').empty();
            if (respuesta['estado'] == 'correcto') {
              var opciones = respuesta['opciones']
              $.each(opciones, function(k, v) {
                $('#select2').append($('<option>', {
                  value:k,
                  text:v 
                }));
              });
            } else {
              $('#select2').append($('<option>', {
                value:'0',
                text:respuesta["estado"]
              }));
            }
          }).fail(function(){
            $('#select2').append($('<option>', {
              value:'0',
              text: 'Error'
            }));
          }).always(function(){
          });
      }

    </script>

{% endblock %}